:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #26BEF5;
}

@font-face {
    font-family: 'jersey-20';
    src: url("fonts/Jersey20-Regular.ttf");
}

h1 {
    position: absolute;
    top: 0;
    left: 12px;
    margin: 0;
    text-align: left;
    font-size: 3.2em;
    font-family: jersey-20;
    color: black;
    line-height: 1.1;
}

#description {
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 10px;
    font-size: 1.3em;
    position: absolute;
    top: 110px;
    left: 480px;
    font-family: jersey-20;
    color: #000000;
}

#total_score {
    position: relative;
    bottom: 42px;
    font-size: 3em;
    color: #7c0000;
}

#about_text {
    position: absolute;
    top: 41px;
    left: 13px;
    text-align: left;
    font-size: 1.1em;
    font-family: jersey-20;
    color: #124a42;

}

#loading {
    position: absolute;
    bottom: 125px;
    left: 305px;
    color: #000000;
    font-size: 7.8em;
    font-family: jersey-20;
}

#let_me {
    position: absolute;
    text-align: right;
    top: 88px;
    left: 935px;
    margin: 0;
    font-family: jersey-20;
    font-size: 23px;
    color: black;
}

#foot {
    position: absolute;
    text-align: right;
    bottom: -8px;
    right: 10px;
    margin: 5px;
    font-family: jersey-20;
    font-size: 40px;
    color: black;
}

span {
    position: absolute;
    text-align: right;
    top: 88px;
    left: 1077px;
    font-family: jersey-20;
    font-size: 23px;
}

#see {
    position: absolute;
    top: -16px;
    left: 1097px;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 13px;
    left: 16px;
    width: 160px;
}

li {
    width: 120px;
    font-family: jersey-20;
    background-color: #111ef4;
    text-align: center;
}

button {
    border-radius: 17px;
    border: 1px solid transparent;
    height: 45px;
    width: 280px;
    font-size: 1.7em;
    font-family: jersey-20;
    background-color: #C7E359;
    cursor: pointer;
    transition: border-color 0.25s;
}

#select_label {
    position: absolute;
    right: 370px;
    top: 236px;
    font-family: jersey-20;
    color: #06187c;
    font-size: 3em;
}

#choose_model {
    position: absolute;
    top: 240px;
    right: 110px;
    text-align: center;
    margin: 10px 0;
    font-size: 2em;
    font-family: jersey-20;
    background-color: white;
    color: black;
}

#fileUpload {
    position: absolute;
    left: 255px;
    bottom: 80px;
    color: #124a42;
}

#upload {
    position: absolute;
    left: 199px;
    bottom: 113px;
    border-radius: 13px;
    border: 1px solid transparent;
    height: 45px;
    width: 280px;
    font-size: 1.7em;
    font-family: jersey-20;
    color: #b30909;
    background-color: #1d1fac;
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: 2px 2px 0 #000;

}

#upload:active {
    background: #1d1fac;
    color: white;
    box-shadow: 2px 2px 0 #000;
    transform: translate(2px,2px);
}

#face {
    position: absolute;
    left: 214px;
    bottom: 165px;
    background: repeating-linear-gradient(
            45deg,
            yellow,
            yellow 9px,
            #000000 9px,
            #000000 18px);
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
